/* -- -- CABECERA -- -- */
.jumbotron {
        background-color:#292929;
        border-radius: 0px;
        margin-top: 50px;
}
.banner {
        padding: 0px 0px 0px 0px;
}
.banner img {
        position: relative;
        display: inline-block;
        height: auto;
        min-height: 300px;
        object-fit: cover;
}
.banner p {
        position: absolute;
        top: 300px;
        left: 49.5%;
        transform: translate(-50%,-50%);
        color: rgba(5, 124, 184, 0.9);
        font-size: 40px;
        font-weight: bold;
}
.jumbotron h1, .jumbotron h4 {
        color: white;
}

/* -- -- CUERPO -- -- */
/* Caracteristicas del portal */
h3 {
        color: black;
        cursor: pointer;
}
h3:hover {
        border-bottom: solid 2px #292929;
}
.caracteristicas > .row > div {
        margin: 5px 0px 5px 0px;
}
.caracteristicas {
        margin-bottom: 25px;
}
/* tabs de precios */
.tab-content {
        padding-top: 10px;
}


/* Productos del portal */
.card-hotel {
	flex: 1 300px;
	padding: 0px 0px 0px 0px;
        margin: 0px 10px 25px 10px;
        max-width: 600px;
}
.card-hotel h4 {
        color: black;
        cursor: pointer;
}
.card-hotel h4:hover {
        color: darkblue;
}
.card-hotel .card-header {
        padding: 0px 0px 0px 0px;
}
.btn-reserva {
        width: 100%;
        background-color: #CD0236;
        color: white;
        text-decoration: none;
        border-radius: 0px;
}
.btn-reserva:hover {
        color: white;
        background-color: #B70835;
}
footer h5 {
        color: white;
}
.linea-productos {
        background-color: #EEEEEE;
        padding: 50px 0px 50px 0;
}


/* -- -- PIE DE PAGINA -- -- */
footer {
        padding: 10px 10px 0 10px;
        background-color: #292929;
        color: rgba(255, 255, 255, .7);
        margin-bottom: 0;
}
footer .row {
        padding: 30px 0px 30px 0px;
}
footer a {
        font-size: 16px;
        color: rgba(255, 255, 255, .7);
        padding-right: 15px;
}
footer a:hover {
        color: rgba(255, 255, 255, 1);
}
.social {
        font-size: 25px;
        color: rgba(255, 255, 255, .7);
        padding-right: 15px;
}
.social:hover {
        color: rgba(255, 255, 255, 1);
}
.footer-address-icon {
        padding-right: 10px;
}


/* Enlace */
a, a:hover,a:visited, a:focus {
        text-decoration: none;
}
