/* Definimos los colores */
@negro: #292929;

.margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
/* -- -- CABECERA -- -- */
.jumbotron {
    background-color: @negro;
    .margenes(50px, 0px);
}